.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.center {
  text-align: center;
}

.items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.items li {
	float: left;
  display: block;
	text-align: center;
	padding: 14px 10px;
	font-size: 13px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#eeeeee;
  color: #70757a;
}